[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
	branch = release-v4.9
[submodule "lib/solidity-utils"]
	path = lib/solidity-utils
	url = https://github.com/bgd-labs/solidity-utils
	branch = feat/zksync
